

.btn-default, .preloader, .testimonial-slider .swiper-pagination .swiper-pagination-bullet, .btn-default.btn-highlighted::after, .main-menu ul ul

        {
            background: #EF151B;
        }
        .section-title h3, .about-content-body ul li:before, .testimonial-rating i, .faq-accordion .accordion-button:not(.collapsed), .post-item-footer .readmore-btn,
        .footer-links h3, .footer-copyright .footer-social-links ul li a, .service-content-footer .readmore-btn, .project-content-footer .readmore-btn
        {
            color: #EF151B;
        }
        .footer-copyright .footer-social-links ul li a
        {
            border: 2px solid #EF151B;
        }
        .btn-default.btn-highlighted:hover, .btn-default.btn-highlighted
        {
            border-color: #EF151B;
        }
        .overlay-dark {
        pointer-events: none;
        z-index: 1;
        }
        .login-card {
        position: relative;
        z-index: 2;
        }

select.select-default {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;

    display: inline-block !important;
    width: 100% !important;

    font-family: var(--accent-font) !important;
    font-size: 18px !important;
    font-weight: 800 !important;
    color: var(--white-color) !important;
    text-transform: capitalize !important;

    background: var(--accent-color) !important;
    border-radius: 12px !important;
    padding: 16px 40px 16px 20px !important;
    border: none !important;
    cursor: pointer !important;

    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5 7L10 12L15 7' stroke='white' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right 12px center !important;

    transition: 0.3s ease-in-out !important;
}

select.select-default:hover {
    opacity: 0.9 !important;
}

select.select-default:focus {
    outline: none !important;
    box-shadow: none !important;
}

.search-box-group {
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
}

.search-box-input {
    padding: 12px 16px;
    border: none;
    outline: none;
    min-width: 230px;
    font-size: 15px;
}

.search-box-button {
    padding: 12px 16px;
    border: none;
    background: #e60000;
    color: white;
    cursor: pointer;
    height: 100%;
}

.search-box-clear {
    padding: 12px 16px;
    background: #e60000;
    color: #fff;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-box-clear:hover {
    background: #FFB703;
}
